div.css-1offfwp{
    font-size: 30px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600  
  }
  
  
  span.css-10trblm{
    font-size: 24px;
    color: rgb(99, 89, 133);
    font-weight: 300
  }